<component name="ArtifactManager">
  <artifact type="war" name="springmvc_004_jump:war">
    <output-path>$PROJECT_DIR$/springmvc_004_jump/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_004_jump</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_004_jump-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_004_jump:war exploded" />
    </root>
  </artifact>
</component>