<component name="ArtifactManager">
  <artifact type="war" name="springmvc_001_demo:war">
    <output-path>$PROJECT_DIR$/springmvc_001_demo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_001_demo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_001_demo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_001_demo:war exploded" />
    </root>
  </artifact>
</component>